/* 1. Le 'body' ne sert que de fond noir/gris autour du jeu */
body {
    background-color: #2c3e50; /* Gris foncé */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
}

/* 2. On crée le CADRE DU JEU (C'est lui qui a l'image de fond !) */
#board {
    position: relative;     /* Important pour que l'oiseau reste dedans */
    width: 640px;           /* Largeur fixe */
    height: 640px;          /* Hauteur fixe */
    
    background-image: url('background.png'); 
    background-size: cover;
    
    overflow: hidden;       /* Coupe tout ce qui dépasse */
    border: 2px solid white;
}

/* 3. L'oiseau */
#bird {
    width: 60px;            /* 100px c'est très gros, essaie 60px */
    position: absolute;     /* Obligatoire pour le bouger avec JS */
    transform-origin: center;
    left: 20px;             /* Position X de départ */
    top: 0px;             /* Position Y de départ */
    border: solid red 
}

/* Style du tuyau */
.obstacle {
    position: absolute; /* OBLIGATOIRE : Pour qu'ils flottent sur le jeu */
    
    top: 0;   /* On le colle en haut par défaut */
    left: 0;  /* On le met à gauche (le JS fera le déplacement avec translate) */
    
    width: 60px;   /* Largeur */
    height: 300px; /* Hauteur */
    
    /* Optionnel : pour voir si l'image ne charge pas, on met une couleur de fond */
    background-color: green; 
}